<div class="container mt-5 text-light text-center" style="padding-top: 100px;">
    <h1 class="text-danger" style="font-family: F1Bold;">Domínio de Max Verstappen (2021)</h1>
    <img 
      [src]="imagemAtual" 
      alt="Max Verstappen 2021" 
      class="img-fluid img-marco tilt-effect"
      (mouseover)="trocarImagem(true)" 
      (mouseleave)="trocarImagem(false)">
    <div class="description">
        <p>
            Em 2021, Max Verstappen rompeu a hegemonia de Lewis Hamilton e conquistou seu primeiro título mundial, após uma temporada repleta de disputas intensas. A batalha pelo campeonato foi decidida de forma dramática, com a última corrida em Abu Dhabi sendo marcada por controvérsias após um acidente de segurança e a subsequente decisão de reiniciar a corrida. Verstappen superou Hamilton nas últimas voltas, conquistando um título merecido.
        </p>
        <p>
            A temporada de 2021 foi um dos maiores exemplos de competitividade na Fórmula 1, com Verstappen e Hamilton trocando vitórias ao longo do ano e um duelo acirrado que envolveu uma rivalidade épica. A conquista de Verstappen representou não só sua habilidade como piloto, mas também o ressurgimento da Red Bull Racing, que conseguiu desafiar a Mercedes pela supremacia no esporte.
        </p>
    </div>
</div>

