<div class="container mt-5 text-light text-center" style="padding-top: 100px;">
    <h1 class="text-danger" style="font-family: F1Bold;">Primeiro Título de Ayrton Senna (1988)</h1>
    <img 
      [src]="imagemAtual" 
      alt="Ayrton Senna 1988" 
      class="img-fluid img-marco translate-effect"
      (mouseover)="trocarImagem(true)" 
      (mouseleave)="trocarImagem(false)">
    <div class="description">
        <p>
            Ayrton Senna conquistou seu primeiro título mundial em 1988 pela equipe McLaren, após uma temporada memorável, destacando-se pela rivalidade com Alain Prost e pelo seu lendário desempenho na chuva.
        </p>
        <p>
            A temporada de 1988 foi um marco na Fórmula 1, com Senna se destacando pela sua habilidade em condições adversas. A vitória no GP de Mônaco, por exemplo, se tornou um dos maiores feitos de sua carreira, quando ele teve um desempenho incrível na chuva, mostrando sua superioridade em circuitos de rua e tornando-se um ícone do esporte.
        </p>
    </div>
</div>
