<div class="container mt-5 text-light text-center" style="padding-top: 100px;">
    <h1 class="text-danger" style="font-family: F1Bold;">Primeira Corrida Oficial da Fórmula 1 (1950)</h1>
    <img 
      [src]="imagemAtual" 
      alt="Primeira corrida de F1" 
      class="img-fluid img-marco scale-effect"
      (mouseover)="trocarImagem(true)" 
      (mouseleave)="trocarImagem(false)">
    <div class="description">
        <p>
            A primeira corrida oficial da Fórmula 1 foi realizada no dia 13 de maio de 1950 no Circuito de Silverstone, na Inglaterra. Esta corrida marcou o início do Campeonato Mundial de Fórmula 1, com a participação de 7 equipes e 21 pilotos. O italiano Giuseppe Farina foi o vencedor dessa histórica corrida e, mais tarde, se tornaria o primeiro campeão mundial da categoria. A prova também foi notável por sua alta competitividade, onde pilotos como Luigi Fagioli e Juan Manuel Fangio começaram a mostrar suas habilidades excepcionais. Este evento não só deu início à era moderna da Fórmula 1, mas também iniciou uma das maiores tradições do esporte automobilístico.
        </p>
        <p>
            Com o sucesso dessa primeira temporada, a Fórmula 1 logo se tornaria um dos campeonatos de automobilismo mais prestigiados do mundo.
        </p>
    </div>
</div>

