<div class="container mt-5 text-light text-center" style="padding-top: 100px;">
    <h1 class="text-danger" style="font-family: F1Bold;">Domínio de Michael Schumacher (2000)</h1>
    <img 
      [src]="imagemAtual" 
      alt="Michael Schumacher 2000" 
      class="img-fluid img-marco tilt-effect"
      (mouseover)="trocarImagem(true)" 
      (mouseleave)="trocarImagem(false)">
    <div class="description">
        <p>
            O ano de 2000 marcou o início do domínio absoluto de Michael Schumacher na Fórmula 1. Pilotando pela Ferrari, ele conquistou seu terceiro título mundial, após uma temporada impecável, que culminou com uma vitória no GP do Japão e a conquista do título de maneira dominante. Esse título foi o primeiro da Ferrari após 21 anos, um feito histórico para a equipe italiana.
        </p>
        <p>
            A combinação da habilidade de Schumacher, a força da Ferrari e o trabalho incansável de toda a equipe fizeram de 2000 o início de uma era de sucesso sem igual para o piloto e a equipe. Schumacher continuou a dominar a F1, conquistando cinco títulos consecutivos de 2000 a 2004, tornando-se uma lenda viva da Fórmula 1.
        </p>
    </div>
</div>
