<div class="d-flex justify-content-center align-items-center vh-100 mt-5">
    <div class="table-container w-50">
        <p-table 
        [value]="todosPilotos" 
        sortField="code" 
        [sortOrder]="1"
        [tableStyle]="{ 'min-width': '100%', 'max-width': '80rem' }" 
        [paginator]="true" 
        [rows]="12"
        responsiveLayout="scroll" 
        selectionMode="single">
            <ng-template #header>
                <tr>
                    <th pSortableColumn="code" class="d-none d-md-table-cell"> Código <p-sortIcon field="code" /> </th>
                    <th pSortableColumn="givenName"> Nome <p-sortIcon field="givenName" /> </th>
                    <th pSortableColumn="familyName"> Sobrenome <p-sortIcon field="familyName" /> </th>
                    <th pSortableColumn="permanentNumber"> Número <p-sortIcon field="permanentNumber" /> </th>
                    <th pSortableColumn="nationality" class="d-none d-md-table-cell"> Nacionalidade <p-sortIcon field="nationality" /> </th>
                    <th pSortableColumn="wiki" class="d-none d-md-table-cell"> Wiki </th>
                </tr>
            </ng-template>

            <ng-template #body let-piloto let-editing="editing">
                <tr>
                    <td [pEditableColumn]="piloto.code" pEditableColumnField="code" class="d-none d-md-table-cell">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="text" [(ngModel)]="piloto.code" />
                            </ng-template>
                            <ng-template #output>
                                {{ piloto.code }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="piloto.givenName" pEditableColumnField="givenName">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="text" [(ngModel)]="piloto.givenName" />
                            </ng-template>
                            <ng-template #output>
                                {{ piloto.givenName }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="piloto.familyName" pEditableColumnField="familyName">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="text" [(ngModel)]="piloto.familyName" />
                            </ng-template>
                            <ng-template #output>
                                {{ piloto.familyName }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="piloto.permanentNumber" pEditableColumnField="permanentNumber">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="number" [(ngModel)]="piloto.permanentNumber" />
                            </ng-template>
                            <ng-template #output>
                                {{ piloto.permanentNumber }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="piloto.nationality" pEditableColumnField="nationality" class="d-none d-md-table-cell">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="text" [(ngModel)]="piloto.nationality" />
                            </ng-template>
                            <ng-template #output>
                                {{ piloto.nationality }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td> <a href="{{ piloto.url }}" target="_blank"> <img src="/wikipedia.png" class="d-none d-md-table-cell"> </a> </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
<br>
<br>
<div class="container form">
    <form [formGroup]="pilotoForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="givenName" class="form-label">Nome</label>
            <input type="text" id="givenName" class="form-control" formControlName="givenName">
        </div>

        <div class="mb-3">
            <label for="familyName" class="form-label">Sobrenome</label>
            <input type="text" id="familyName" class="form-control" formControlName="familyName">
        </div>

        <div class="mb-3">
            <label for="nationality" class="form-label">Nacionalidade</label>
            <input type="text" id="nationality" class="form-control" formControlName="nationality">
        </div>

        <div class="mb-3">
            <label for="permanentNumber" class="form-label">Número</label>
            <input type="text" id="permanentNumber" class="form-control" formControlName="permanentNumber">
        </div>

        <div class="mb-3">
            <label for="code" class="form-label">Código</label>
            <input type="text" id="code" class="form-control" formControlName="code">
        </div>

        <!-- <button type="submit" class="btn btn-primary">
            Adicionar Piloto
        </button> -->

        <p-button label="Adicionar" type="submit" [disabled]="pilotoForm.invalid" severity="success"></p-button>
    </form>
</div>