* {
    transition: 0.1s;
}

p-table {
    display: flex;
    justify-content: center;
    font-family: F1Regular;   /* Usa a fonte F1Bold */
    color: white !important; /* Texto branco */
    border-radius: 8px;
    padding: 10px;
}

p-table th {
    font-family: F1Bold;      /* Usa a fonte F1Bold */
    border-bottom: 0;
    text-align: center !important;
    background-color: #18181b !important;
    color: white !important;
}

p-table td {
    border-bottom: 0;
    text-align: center !important;
    cursor: pointer;
    background-color: #18181b !important;
    color: white !important;
}

p-table td:hover {
    color: red !important;
}

p-table img {
    width: 24px;
    user-select: pointer !important;
}

input {
    border: 0;
    outline: 0;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

label{
    font-family: F1Regular;
    color: #141418;
}

input{
    font-family: F1Regular;
}

.form{
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    text-align: center;
    width: 50vh;
    margin-bottom: 5rem;
}

input {
    box-shadow: 0px 0px 5px 0px rgba(1,1,1,0.2);
    width: 50%;
    display: flex;
    margin-left: 25%;
}

p-button {
    font-family: F1Bold; 
}