<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/borrtoleto.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Gabriel Bortoleto na Fórmula 1 em 2025</h5>
                    <p>O piloto brasileiro de 20 anos foi confirmado como piloto da equipe Sauber para a temporada de 2025.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/hamilttton.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Era Hamilton na Ferrari: O Heptacampeão Busca Glória em Maranello</h5>
                    <p>Aos 40 anos, Hamilton busca novos desafios e a chance de conquistar seu oitavo título mundial ao lado da lendária Scuderia Ferrari.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/maxx.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Max Verstappen conquista o tetracampeonato na Fórmula 1 em 2024</h5>
                    <p>O piloto holandês Max Verstappen, da equipe Red Bull Racing, sagrou-se tetracampeão mundial de Fórmula 1 em 2024, consolidando sua dominância na categoria.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/rookies2025.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Onda de rookies na F1 2025</h5>
                    <p>Nova geração chega com pressão e expetativas altas.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/vbmercedes.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Valtteri Bottas</h5>
                    <p>A Mercedes anunciou que o finlandês de 35 anos está de volta ao time - como piloto reserva.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/sainzwilliams.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Sainz na Williams</h5>
                    <p>Piloto espanhol acredita que poderá ser campeão mundial com as cores da Williams.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
