{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}
{% block header %}<h1>Registrar Novo Usuário</h1>{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Usuário</label>
    <input name="username" id="username" value="{{ request.form.username or '' }}" required>
    <br>
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="Registrar">
  </form>
  <p>Já tem conta? <a href="{{ url_for('auth.login') }}">Faça login</a>.</p>
{% endblock %}